.wrapper-image {
    border: 1px dashed $gray-light;
    padding: 10px;
    min-height: 150px;
    position: relative;

    input.hide_file {
	    position: absolute;
	    width: calc(100% - 20px);
	    height: calc(100% - 20px);
	    top: 10px;
	    bottom: 10px;
	    right: 10px;
	    left: 10px;
	    opacity: 0;
	    cursor: pointer;
	}

	span.inf {
	    position: absolute;
		left: -50%;
		right: -50%;
		margin: auto;
		width: 80%;
		height: 75px;
		top: -50%;
		bottom: -50%;
		color: #c7c7c7;
		text-align: center;

		> i {
			width: 30px;
			height: 25px;
			font-size: 27px;
			display: block;
			margin: 0 auto;
			margin-bottom: 10px;
		}
	}
	img {
		position: relative;
	}
}