.wrapper-image {
    border: 1px dashed $gray-light;
    padding: 10px;
    min-height: 150px;
    position: relative;

    input.hide_file {
	    position: absolute;
	    width: calc(100% - 20px);
	    height: calc(100% - 20px);
	    top: 10px;
	    bottom: 10px;
	    right: 10px;
	    left: 10px;
	    opacity: 0;
	    cursor: pointer;
	}

	span.inf {
	    position: absolute;
		left: -50%;
		right: -50%;
		margin: auto;
		width: 80%;
		height: 75px;
		top: -50%;
		bottom: -50%;
		color: #c7c7c7;
		text-align: center;

		> i {
			width: 30px;
			height: 25px;
			font-size: 27px;
			display: block;
			margin: 0 auto;
			margin-bottom: 10px;
		}
	}
	img {
		position: relative;
	}
}

.wrapper-preview {
    max-width: 270px !important;

	.post-preview-wrapper {
	    width: 192px;
	    border: 1px solid;
	    margin-top: 20px;
	    margin-bottom: 30px;

	    h4.title {
		    font-family: "OpenSansBold";
		    color: $gray-dark;
		    font-size: 12px;
		    margin: 10px;
		}
		.date {
		    font-size: 9px;
		    float: right;
		    margin: 10px;
   		}
		.description {
		    margin: 10px;
		    color: $gray;
		    font-size: 11px !important;
		}
	}
}

.filters-wrap {
	padding-top: 10px;

	a.sort-grup-icon {
	    margin-left: 10px;
	    color: #b8b8b8;
	    font-size: 10px;

	    &[data-sort="desc"] {
	    	.fa-sort-asc {
	    		display: none;
	    	}
	    }
	    &[data-sort="asc"] {
	    	.fa-sort-desc {
	    		display: none;
	    	}
	    }
	    &[data-sort="public"] {
	    	.fa-circle-o {
	    		display: none;
	    	}
	    }
	    &[data-sort="hidden"] {
	    	.fa-circle {
	    		display: none;
	    	}
	    }

	    &:hover {
	    	color: $gray-dark;
	    }

	    &.active {
	    	color: $red;
	    }

	}
}

.click-wrapper {
    width: 400px;
    font-size: 12px;
    position: relative;

    i {
		font-size: 26px;
		position: relative;
		bottom: -5px;
		margin-bottom: 10px;
		margin-right: 5px;
    }

    input[type="file"] {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    opacity: 0;
	    cursor: pointer;

	    &:hover ~ span,
	    &:hover ~ i {
	    	color: $red;
	    }
	}
}