@import "styles/common/notify";
* { outline: none; }
a { cursor: pointer; }

h1, h2, h3 { font-family: "OpenSansBold"; }

span.new-mini {
	left: -3px;
    opacity: 1;
	width: 15px;
	height: 15px;
	bottom: -2px;
    display: block;
    line-height: 15px;
	position: absolute;
	text-align: center;
	color: $color-new-mini;
	background: $bg-new-mini;
	@include border-radius(50%);
    @include transition(all 0.2s);
	font-size: $font-size-new-mini;
	font-family: $font-family-new-mini;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);
	@include box-shadow (2px 2px 2px rgba(0, 0, 0, 0.3));
}

form, ul { margin: 0px; }

.input-group.search {
	@include transition(all 0.2s);

	i.fa-circle-o-notch, a.fa-times {
		@include transition(all 0.2s);
		display: none;
		opacity: 0;
	}

	i.fa-search {
		@include transition(all 0.2s);
		opacity: 1;
	}

	&.live {
		i.fa-search, i.fa-circle-o-notch {
			opacity: 0;
			display: none;
		}

		a.fa-times{
			opacity: 1;
			display: block;
		}
	}

	&.load {
		i.fa-circle-o-notch {
			opacity: 1;
			display: block;
		}

		i.fa-search, a.fa-times {
			opacity: 0;
			display: none;
		}
	}

}

.form-control {
	width: 100%;
	box-shadow: none;
	padding: 10px 20px;

	&:focus {
		box-shadow: none;
		border-color: $light-blue;
	}

	&:focus ~ .input-group-addon {
		border-color: $light-blue;
	}
}
.input-group-addon {
	border-left: 0px;
	padding: 6px 20px;
	cursor: pointer;
	color: $gray-light;

	&:hover { color: $blue; }

	&.lang { color: $gray; cursor: default; }
}
.input-group .form-control:first-child {
	border-right: 0;
}

.input-group.margin { margin-top: 20px; }

.margin { margin: 10px 0; }
.margin-top { margin-top: 10px; }
.margin-top-20 { margin-top: 20px; }
.pull-center {
	float: none;
	margin: 0 auto;
	display: block;
}

.breadcrumb {
	padding-left: 0px;
	padding-top: 0px;
	margin-bottom: 30px;
}
.icheckbox_flat-red {
    margin-right: 5px;
}
label {
	font-weight: normal;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 25px !important;
}
.select2-container--default .select2-search--inline .select2-search__field {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: $blue;
    border: none;
    cursor: default;
    float: left;
    margin-right: 3px;
    margin-top: 7px;
    border-radius: 25px;
    padding: 2px 10px;
    color: white;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #ffffff !important;
    margin-right: 6px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: $light-blue;
}
.mce-branding-powered-by {
	display: none !important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background: $red;
	color: #ffffff !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: $red;
}
.select2-container--open .select2-dropdown--below {
    z-index: 2 !important;
}
.select2-dropdown {
    border: none !important;
    @include box-shadow(0px 0px 4px 0px rgba(0, 0, 0, 0.4));
}