// / ---------- SECTION WORDS ----------/
section.full-screen-2
	.section-head
		.top-line
			.right-block
				a.btn-top(data-toggle="tooltip", data-placement="top", title="Refresh section")
					i.fa.fa-refresh
				a.btn-top(data-toggle="tooltip", data-placement="top", title="Full window section", data-action-click="fullScreen", data-fullscreen-object=".full-screen-2")
					i.glyphicon.glyphicon-resize-full
			.clearfix

	h3.title Add word
	.description edit translation

	form.section-body
		.input-group.margin
			input.form-control(type="text", placeholder="Enter label word...")
			span.input-group-addon(data-toggle="tooltip", title="Key word")
				i.lauer-info

		.input-group.margin
			input.form-control(type="text", placeholder="Enter translate...")
			span.input-group-addon.lang
				strong RU

		.input-group.margin
			input.form-control(type="text", placeholder="Enter translate...")
			span.input-group-addon.lang
				strong UA

		.input-group.margin
			input.form-control(type="text", placeholder="Enter translate...")
			span.input-group-addon.lang
				strong EN

		.input-group.margin
			input.form-control(type="text", placeholder="Enter translate...")
			span.input-group-addon.lang
				strong DE

		button.btn.btn-default.margin-top-20 Add new word

// / ------- *SECTION WORDS END* -------/