// / ---------- SECTION WORDS ----------/
section
	.section-head
		.top-line
			.right-block
				a.btn-top(data-toggle="tooltip", data-placement="top", title="Refresh section")
					i.fa.fa-refresh
				a.btn-top(data-toggle="tooltip", data-placement="top", title="Full window section")
					i.glyphicon.glyphicon-resize-full
			.clearfix

		h3.title Translations
		.description Developer section

		.search-line
			.input-group
				input.form-control(type="text", placeholder="Search...")
				span.input-group-addon(data-toggle="tooltip", data-placement="top", title="Push for search")
					i.fa.fa-search
			.col-md-4
			.col-md-4

	.section-body
		.results-search
			.wrapper-list
				// ITEM
				.item.w-50
					span Item
					.pull-right
						a.btn-revove
							i.fa.fa-times
					.clearfix
				// ITEM
				.item.w-50
					span Item
					.pull-right
						a.btn-revove
							i.fa.fa-times
					.clearfix
				// ITEM
				.item.w-50
					span Item
					.pull-right
						a.btn-revove
							i.fa.fa-times
					.clearfix
				// ITEM
				.item.w-50
					span Item
					.pull-right
						a.btn-revove
							i.fa.fa-times
					.clearfix

// / ------- *SECTION WORDS END* -------/