body.mini-menu .content-wrapper.container-fluid {
	margin-left: 70px;
}
.content-wrapper.container-fluid {
	padding: 40px;
	margin-top: 54px;
	position: relative;
	margin-left: 220px;
	padding-bottom: 94px;
	padding-right: 20px;
    min-height: calc(100% - 54px);

    section {
    	padding: 40px;
		font-size: 12px;
    	padding-top: 10px;
    	color: $gray-light;
    	background: #ffffff;
    	margin-right: 20px;
    	@include border-radius(4px);
    	@include transition(all 0.6s);

    	.top-line {
    		margin-bottom: 10px;

    		.right-block {
    			float: right;
    			margin-right: -40px;

    			.btn-top {
    				display: inline-block;
    				margin-right: 10px;
    				font-size: 10px;
    				color: $gray-light;

    				&:hover {
    					color: $gray;
    				}
    			}
    		}
    	}

		&.full {
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 30;
            margin-right: 0px;
		}

    	h3.title {
			font-size: 16px;
			color: $gray-dark;
	    	margin-bottom: 5px;
	    	font-family: "OpenSansRegular";
    	}

    	.description {
    		font-size: 13px;
    		color: $gray-light;
    		margin-bottom: 10px;
    	}
    }
    .search-line {
        margin-top: 20px;
    }

    .section-body {
        margin-top: 20px;
    }
}

.wrapper-list {
    margin-right: -20px;

    .item {
        color: $gray;
        padding: 5px 0;
        cursor: pointer;
        margin-right: 20px;
        display: inline-block;
        font-family: "OpenSansBold";
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.w-50 { width: calc(49.5% - 20px); }

        span {
            display: inline-block;
            width: 90%;
        }

        .pull-right {
            display: none;

            .btn-revove{
               color: $gray-light;
               font-size: 10px;

               > i { line-height: 16px; }
               &:hover { color: $red; }
           }
        }

        &:hover {
            color: $red;

            .pull-right { display: inline-block; }
        }
    }
}