include include/common/head
body.mini-menu
	include include/common/header
	include include/common/left-menu

	.content-wrapper.container-fluid
		section
			.top-line
			h3.title Name section
			.description Description section

		include include/common/footer