include include/common/head
body
	include include/common/header
	include include/common/left-menu

	.content-wrapper.container-fluid

		ol.breadcrumb
			li
				a(href="#") Developer
			li.active(data-action-click="test") Translations

		.row
			.col-md-7
				include include/sections/words

			.col-md-5
				include include/sections/add-words

		include include/common/bottom_scripts
		include include/common/footer