// / ---------- SECTION SETTINGS ----------/
.col-md-4.text-center.menu-grid-settings
	a.tab-menu(href="#").mainSettings
		.mask
		.wrapper-title
			h4.tab-name MAIN
.col-md-4.text-center.menu-grid-settings
	a.tab-menu(href="#").langsSettings
		.mask
		.wrapper-title
			h4.tab-name LANGUAGES
.col-md-4.text-center.menu-grid-settings
	a.tab-menu(href="#").smtpSettings
		.mask
		.wrapper-title
			h4.tab-name SMTP
.col-md-4.text-center.menu-grid-settings
	a.tab-menu(href="#").mailSettings
		.mask
		.wrapper-title
			h4.tab-name POST
.col-md-4.text-center.menu-grid-settings
	a.tab-menu(href="#").contactsSettings
		.mask
		.wrapper-title
			h4.tab-name CONTACTS
// / ------- *SECTION SETTINGS END* -------/