// /+++++++++++++++++++++ SCRIPTS +++++++++++++++++++++/
//Bootstrap js include
script(src='js/_lib/bootstrap.min.js')
//Bootstrap select js
script(src='js/_lib/bootstrap-select.js')
//Bootstrap Notify
script(src="js/_lib/bootstrap-notify.min.js")
//MouseWheel js
script(src='js/_lib/jquery.mousewheel.min.js')
//Scroll pane js
script(src='js/_lib/jquery.jscrollpane.min.js')
//Scroll iCheck
script(src="js/_lib/icheck.min.js")

// ------------------------------------------------------
//Scripts
script(src="js/notify.js")
//Scripts
script(src="js/scripts.js")
// /++++++++++++++++++* SCRIPTS END *++++++++++++++++++++/