// /+++++++++++++++++++++ SCRIPTS +++++++++++++++++++++/
//Bootstrap js include
script(src='js/_lib/bootstrap.min.js')
//Bootstrap select js
script(src='js/_lib/bootstrap-select.js')
//MouseWheel js
script(src='js/_lib/jquery.mousewheel.min.js')
//Scroll pane js
script(src='js/_lib/jquery.jscrollpane.min.js')
//Scroll iCheck
script(src="js/lib_/icheck.min.js")
// /++++++++++++++++++* SCRIPTS END *++++++++++++++++++++/