// / --------- LEFT MENU --------- 


.container-fluid.left-menu
	.wrapper-left-menu
		.user-info-section
			.user-photo-wrapper
				// USER PHOTO
				img(src="images/test-content/user.jpg", alt="")
			.user-info
				// USER NAME
				.user-name Paul Lauer
				// USER STATUS
				.user-status Admin
			.clearfix

		.menu-section
			.title-menu ADMIN MENU

			.list-menu-wrapper
				// MENU ITEM
				.item-wrapper
					a.item-menu-admin(href="#")
						i.lauer-puzzle
						span Modules
				// MENU ITEM
				.item-wrapper
					a.item-menu-admin.slide
						i.lauer-page
						span Pages
				// MENU ITEM
				.item-wrapper
					a.item-menu-admin.slide.active
						i.lauer-search
						span SEO
					ul.wrapper-sub-menu
						li
							a(href="#").active
								i.fa.fa-circle-o-notch
								|Item
						li
							a(href="#")
								i.fa.fa-circle-o-notch
								|Item
						li
							a(href="#")
								i.fa.fa-circle-o-notch
								|Item
						li
							a(href="#")
								i.fa.fa-circle-o-notch
								|Item
				// MENU ITEM
				.item-wrapper
					a.item-menu-admin.slide
						i.lauer-mail
						span E-Mail
				// MENU ITEM
				.item-wrapper
					a.item-menu-admin.slide
						i.lauer-user
						span Users
				// MENU ITEM
				.item-wrapper
					a.item-menu-admin.slide
						i.lauer-settings
						span Settings

// / --------- *LEFT MENU END* --------- 