.container-fluid.top-hide-menu-wrapper
	.col-md-4
		.info-cms
			h2.name LAUER CMS
			p.description Convenience and success in one system...
	.col-md-4
	.col-md-4
		.right-section
			a.close-btn.hvr-shrink
				i.fa.fa-times