.top-menu-section.container-fluid
	.row
		.col-md-3.col-sm-4
			.logo-container
				.pull-left
					a(href="/").logo
						img(src="images/test-content/logo.png", alt="Lauer CMS")
				.pull-right
					.wrapper-btn-toggle
						.left-menu-btn-toggle
							a.icon.icon-toggle-menu(data-toggle="tooltip", data-placement="right", title="text", data-action-click="toggleLeftMenu")
			.clearfix
		.col-md-6.col-sm-4
		.col-md-3.col-sm-4
			.right-section.pull-right
				a.circle-icon.info-popup(data-toggle="tooltip", data-placement="bottom", title="text")
					i.lauer-info
					span.new-mini 12
				a.circle-icon.chat-popup(data-toggle="tooltip", data-placement="bottom", title="text")
					i.lauer-chat
				a.circle-icon.settings-menu(data-toggle="tooltip", data-placement="bottom", title="text", data-action-click="showTopMenu")
					i.lauer-settings-w
				a.circle-icon.full-window(data-toggle="tooltip", data-placement="bottom", title="text", data-action-click="fullScreen")
					i.lauer-full
			.clearfix